.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px; /* Butonları yuvarlatma */
  background-color: #3498db; /* Arka plan rengi */
  color: #fff; /* Metin rengi */
  cursor: pointer; /* İmleç stilini değiştirme */
  transition: background-color 0.3s, color 0.3s; /* Geçiş efekti */
}

button:hover {
  background-color: #2980b9; /* Hover durumunda arka plan rengini değiştirme */
}

input {
  font-size: 30px;
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
